<nav class="navbar navbar-expand navbar-light bg-light sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold d-flex align-items-center" href="/">
      <i class="fa-solid fa-code me-2"></i> TODO APP</a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link <%= (currentRoute === '/about' ? 'active' : '') %>" href="/about">About Me</a>
      </li>
    </ul>
  </div>
</nav>