<!doctype html>
<html lang="tr">
<%- include("partials/head") %>

<body class="d-flex flex-column min-vh-100">

    
    <%- include("partials/navbar") %>
    
    <noscript>This website does not support javascript.</noscript>

    <main id="main">
        <div class="container">
            güncellenecek
        </div>
    </main>

    <%- include("partials/footer") %>
    <%- include("partials/scripts") %>

</body>

</html>
