<!doctype html>
<html lang="tr">
<%- include("partials/head") %>

<body class="d-flex flex-column min-vh-100">

    
    <%- include("partials/navbar") %>
    
    <noscript>This website does not support javascript.</noscript>
    
    <main id="main" class="p-5">
            <div class="container">
                <h2 class="text-center mb-3">TODO</h2>
                <div class="input-group mb-3" style="height: 50px;">
                    <span class="input-group-text">📄</span>
                    <input type="text" id="taskInput" class="form-control" placeholder="New Todo">
                </div>
                
                <h2 class="text-center">TODO List</h2>
                <div class="d-flex justify-content-center mb-3">
                    <button class="btn btn-info me-2" onclick="filterTasks('all')">All</button>
                    <button class="btn btn-info me-2" onclick="filterTasks('done')">Done</button>
                    <button class="btn btn-info" onclick="filterTasks('todo')">Todo</button>
                </div>
                
                <ul id="taskList" class="list-group"></ul>
                
                <div class="d-flex justify-content-between mt-3">
                    <button class="btn btn-danger" onclick="deleteDoneTasks()">Delete Done Tasks</button>
                    <button class="btn btn-danger" onclick="deleteAllTasks()">Delete All Tasks</button>
                </div>
            </div>
        
            
    </main>
    
    <%- include("partials/footer") %>
    <%- include("partials/scripts") %>
    <script src="js/todos.js"></script>

</body>

</html>